/** 重写 tooltip 样式 */
.q-tooltip {
  background-color: #000000B2;
  box-shadow: 0px 4px 6px -2px #0000000D, 0px 8px 15px -3px #00000014;
  padding: 8px;
  border-radius: 8px;
  color: var(--grey-1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}