@font-face {
  font-family: 'PingFang';
  src: url('https://wallpaper-demo-app.oss-cn-hangzhou.aliyuncs.com/fonts/PingFang_400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

.font-pingfang {
  font-family: 'PingFang';
}